<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBONORxNLdqpH-HTrdBKK23T8H7uYzw62w</string>
	<key>GCM_SENDER_ID</key>
	<string>1046212919501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blackfunding.signalai</string>
	<key>PROJECT_ID</key>
	<string>signalai-c8be0</string>
	<key>STORAGE_BUCKET</key>
	<string>signalai-c8be0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1046212919501:ios:619ce0d832cfda489de984</string>
	<key>DATABASE_URL</key>
	<string>https://signalai-c8be0-default-rtdb.firebaseio.com</string>
</dict>
</plist>